@charset "UTF-8";

/* サイズをオレンジ〇で囲む */
span.price {
  /* サイズ指定 */
  width: 175px;
  height: 175px;
  /* 背景色 */
  background-color: #ff4500;
  /* 角を丸くする */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
/* 合計金額の文字の大きさを変える */
span#total-price {
  font-size: 35px;
}

/* 商品一覧の画像を中央寄せにする*/
.item-img-center {
  margin-left: auto;
  margin-right: auto;
}
/* 商品一覧のセルを固定幅にする*/
.item-list-table {
  table-layout: fixed;
}

th {
  text-align: center;
}

.contents {
    display: flex;
    flex-wrap: wrap;
}
.contents > div {
    width: 33.3333%;
    box-sizing: border-box;
    padding: 10px;
}
.contents img {
    width:  100%;
    height: 300px;
    object-fit: cover;
}
.next.disable,
.prev.disable {
    pointer-events: none;
    background: #ddd;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination p {
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 5px;
    background: #606060;
    color: #fff
}
.next:hover, .prev:hover, .page_counter li:hover {
    cursor: pointer;
}
.page_counter {
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0 10px;
}

.page_counter li {
    border: 1px solid #606060;
    padding: 5px 10px;
}

.page_counter li.current {
    background: #606060;
    color: #fff;
}

.page_counter li + li {
    margin-left: 5px;
}